<div id="wrap">
    <p>
    <strong> Fees:</strong><br>
    2 hour initial functional medicine consultation <br>with acupuncture treatment $150<br><br>
    1 hour initial functional medicine consultation <br>without acupuncture treatment $125<br><br>
    Follow up acupuncture treatments or functional medicine consults $85<br><br>
    Cash, checks, Visa, Mastercard and Discover accepted<br>
    Insurance may be accepted. I can verify your coverage for you.<br>
    Medicare or supplemental insurance that goes by medicare guidelines does NOT cover acupuncture.
    <br><br>

    I am pleased to be able to serve you and look forward to hearing from
    you.  Please call or email with any questions or concerns.

    </p>


  <!--</div>-->

  <!--<div id="sidebar">-->
    <!--<div class="sideblock">-->
      <!--<img src="images/starthealingnow.png" alt="Start Healing Now" title="Start Healing Now" style="margin-bottom:10px;">-->

      <!--<div class="left"><img src="images/treatmentenhanced125.jpg" alt="Susan" title="Treatment Room" style="margin: 5px;margin-bottom: 3px;"></div>-->
      <!--<strong>Office Hours:</strong><br />-->
      <!--T/Th/F:<br> 11AM - 7PM<br />By Appt. Only-->

      <!--407-718-5795<br />-->
      <!--<strong><a rel="nofollow" href="contact.html"><img src="images/map2.png" width="16" height="16" border="0" align="top">&nbsp;Contact Info</a> </strong>-->
    <!--</div>-->


    <!--<div class="sideblock">-->
      <!--<img src="images/whatyouneedtoknow.png" alt="What you need to know" title="What you need to know" style="margin-bottom: 10px;">-->
      <!--<ul>-->
        <!--<li><a href="index.html">Home</a></li>-->
        <!--<li><a href="acupuncture.html">Acupuncture</a></li>-->
        <!--<li><a href="functionalmedicine.html">Functional Medicine</a></li>-->
        <!--<li style="padding-left:15px;font-size:14px;"> <a rel="nofollow" href="labtesting.html" style="color:#8a6b52">&#149;Lab Testing</a></li>-->
        <!--<li><a  rel="nofollow" href="servicesoffered.html">Services Offered</a></li>-->
        <!--<li><a href="conditionstreated.html">Conditions Treated</a></li>-->

        <!--<li><a href="adrenalfatigue.html">HPA-D(Adrenal Fatigue)</a></li>-->
        <!--<li><a href="thyroid.html">Thyroid Treatment</a></li>-->

        <!--<li><a href="lowerbackpain.html">Acupuncture for Low Back Pain</a></li>-->

        <!--<li><a rel="nofollow" href="forms.html">Patient Intake Forms/Directions</a></li>-->

      <!--</ul>-->

    <!--</div>-->


  <!--</div>-->

  <div class="clear"></div>

  <strong style="color:#5e4028">acupuncturedoc@hotmail.com | 2221 Lee Rd. Suite 14 Winter Park, Fl 32789 <br> Phone: 407-718-5795 | Fax: 321-296-1927</strong>
</div>
