<h2 style="border-bottom:1px solid #5e4028">Orlando Favorites</h2>

<ul>
  <li style="font-size:14px">
    <a href="http://www.thekundaliniyogacenter.com/" target="_blank">Kundalini
      Yoga</a> - The Kundalini Yoga Center of Central Florida, Day and Night
    classes of Kundalini Yoga, Prosperity Workshops, Weekend Retreats,
    Cooking Classes and much more.
  </li>
  <li style="font-size:14px">
    <a href="http://www.infusiontea.us" target="_blank">Infusion Tea</a> -
    Infusion Tea is an Orlando Tea Room. They are Orlando&#39;s premier
    organic tea cafe.
  </li>
  <li style="font-size:14px">
    <a href="http://www.shineonyoga.com/" target="_blank">Shine On Yoga</a>
    - Shine On Yoga center offers yoga, meditation, workshops, music,
    massage, environmental and humanitarian awareness events and community
    gatherings in Orlando.
  </li>
  <li style="font-size:14px">
    <a href="http://dandelioncommunitea.com/" target="_blank">Dandelion
      Communitea Cafe</a> - Dandelion Communitea Cafe is a casual cafe
    serving up healthy, organic, vegetarian fare and premium organic loose
    leaf tea in the heart of OurLando.
  </li>
</ul>
