<div id="topbar"></div>

<div id="wrap">
  <app-header></app-header>

  <div id="main">
    <app-title></app-title>
    <app-headshot></app-headshot>

    <div class="left">
      <strong>
        <a href="contact.html" rel="nofollow"><img align="top" border="0" height="16" src="assets/img/map2.png" width="16"/>
          &nbsp;Insurance/Fees
        </a>
      </strong><br/>
      <br>
      <a href="contact.html" rel="nofollow"><img align="top" border="0" src="assets/img/map2.png"/>
        <strong>
          &nbsp;Send E-Mail
        </strong>
      </a><br/>
      <br/>
      <app-testimonial></app-testimonial>
    </div>

    <div class="clear"></div>
    &nbsp;

    <app-background-info></app-background-info>
    <app-favorites></app-favorites>
  </div>
  <app-side-rail></app-side-rail>
</div>
