<div id="topbar"></div>

<div id="wrap">
  <app-header></app-header>

  <div id="main">
    <app-title></app-title>

    <div class="left" style="margin-right:5px">
      <img src="assets/img/website headshot150.jpg" style="border:1px solid #5e4028"/>
    </div>

    <div class="left" style="margin-right:12px">
      <h3 style="margin:0px;padding:0px;font-weight:bold;font-size:16px">Susan
        Schopbach</h3>
      Acupuncture Physician<br/>
      Doctor of Oriental Medicine<br/>
      <br/>
      2221 Lee Rd. Suite 14<br/>
      Winter Park, Florida 32789<br/>
      <strong>Phone:(407) 718-5795</strong><br/>
      <!--Wayne Test-->

      <script language="javascript" type="text/javascript">
				<!--
				function popitup (url) {
					newwindow = window.open(url, 'name', 'height=400,width=656');
					if (window.focus) {newwindow.focus()}
					return false;
				}

				// -->

      </script>
    </div>

    <div class="left">
      <strong><a href="contact.html" rel="nofollow"><img align="top" border="0" height="16" src="assets/img/map2.png" width="16"/>&nbsp;Insurance/Fees</a>
      </strong><br/>
      <br>
      <a href="contact.html" rel="nofollow"><img align="top" border="0" src="assets/img/map2.png"/><strong>&nbsp;Send
        E-Mail</strong></a><br/>
      <br/>
      <a href="testimonials.html">&bull;Read Patient<br/>
        Testimonials&bull;</a></div>

    <div class="clear"></div>
    &nbsp;

    <app-background-info></app-background-info>
    <app-favorites></app-favorites>
  </div>
  <app-side-rail></app-side-rail>
</div>
