<div id="topbar"></div>

<div id="wrap">
  <div id="header">
    <a href="index.html"><img alt="Acupuncture in Orlando, FL" src="assets/img/header.png" title="Acupuncture in Orlando, FL"/></a>
  </div>

  <div id="main">
    <h1 style="border-bottom:1px solid #5e4028">
      {{ title[0] }} <br> {{ title[1] }}
    </h1>

    <div class="left" style="margin-right:5px">
      <img src="assets/img/website headshot150.jpg" style="border:1px solid #5e4028"/>
    </div>

    <div class="left" style="margin-right:12px">
      <h3 style="margin:0px;padding:0px;font-weight:bold;font-size:16px">Susan
        Schopbach</h3>
      Acupuncture Physician<br/>
      Doctor of Oriental Medicine<br/>
      <br/>
      2221 Lee Rd. Suite 14<br/>
      Winter Park, Florida 32789<br/>
      <strong>Phone:(407) 718-5795</strong><br/>
      <!--Wayne Test-->

      <script language="javascript" type="text/javascript">
				<!--
				function popitup (url) {
					newwindow = window.open(url, 'name', 'height=400,width=656');
					if (window.focus) {newwindow.focus()}
					return false;
				}

				// -->

      </script>
    </div>

    <div class="left">
      <strong><a href="contact.html" rel="nofollow"><img align="top" border="0" height="16" src="assets/img/map2.png" width="16"/>&nbsp;Insurance/Fees</a>
      </strong><br/>
      <br>
      <a href="contact.html" rel="nofollow"><img align="top" border="0" src="assets/img/map2.png"/><strong>&nbsp;Send
        E-Mail</strong></a><br/>
      <br/>
      <a href="testimonials.html">&bull;Read Patient<br/>
        Testimonials&bull;</a></div>

    <div class="clear"></div>
    &nbsp;

    <app-background-info></app-background-info>

    <h2 style="border-bottom:1px solid #5e4028">Orlando Favorites</h2>

    <ul>
      <li style="font-size:14px">
        <a href="http://www.thekundaliniyogacenter.com/" target="_blank">Kundalini
          Yoga</a> - The Kundalini Yoga Center of Central Florida, Day and Night
        classes of Kundalini Yoga, Prosperity Workshops, Weekend Retreats,
        Cooking Classes and much more.
      </li>
      <li style="font-size:14px">
        <a href="http://www.infusiontea.us" target="_blank">Infusion Tea</a> -
        Infusion Tea is an Orlando Tea Room. They are Orlando&#39;s premier
        organic tea cafe.
      </li>
      <li style="font-size:14px">
        <a href="http://www.shineonyoga.com/" target="_blank">Shine On Yoga</a>
        - Shine On Yoga center offers yoga, meditation, workshops, music,
        massage, environmental and humanitarian awareness events and community
        gatherings in Orlando.
      </li>
      <li style="font-size:14px">
        <a href="http://dandelioncommunitea.com/" target="_blank">Dandelion
          Communitea Cafe</a> - Dandelion Communitea Cafe is a casual cafe
        serving up healthy, organic, vegetarian fare and premium organic loose
        leaf tea in the heart of OurLando.
      </li>
    </ul>
  </div>
  <div id="sidebar">
    <div class="sideblock">
      <img alt="What you need to know" src="assets/img/whatyouneedtoknow.png" style="margin-bottom: 10px;" title="What you need to know"/>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="acupuncture.html">Acupuncture</a></li>
        <li><a href="functionalmedicine.html">Functional Medicine</a></li>
        <li style="padding-left:15px;font-size:14px;">
          <a rel="nofollow" href="labtesting.html" style="color:#8a6b52">&#149;Lab
            Testing</a></li>
        <li><a href="servicesoffered.html" rel="nofollow">Services Offered</a>
        </li>
        <li><a href="conditionstreated.html">Conditions Treated</a></li>
        <li><a href="adrenalfatigue.html">HPA-D(Adrenal Fatigue)</a></li>
        <li><a href="thyroid.html">Thyroid Treatment</a></li>
        <li><a href="lowerbackpain.html">Acupuncture for Low Back Pain</a></li>
        <li><a href="forms.html" rel="nofollow">Patient Intake
          Forms/Directions</a></li>
      </ul>

      <br>
      <a
        href="http://www.acufinder.com/pract_email_signup.php?practitioner=63373"
        onclick="Javascript: window.open('http://www.acufinder.com/pract_email_signup.php?practitioner=63373','acuwindow2','height=390,width=256,location=no,scrollbars=no,resizable=no,toolbar=no,menubar=no,statusbar=no');return false;" target="_new">
        <strong>&nbsp;NEWSLETTERSIGNUP</strong>
      </a>

      <br>
      <div class="sideblock">
        <img alt="Start Healing Now" src="assets/img/starthealingnow.png" style="margin-bottom:10px;" title="Start Healing Now"/>
        <div class="left">
          <img alt="Waiting Room" src="assets/img/waitingroomfountainfred125.jpg" style="margin: 5px;margin-bottom: 0px;" title="Waiting Room"/>
        </div>
        <strong>
          <a href="contact.html" rel="nofollow"><img align="top" border="0" height="16" src="assets/img/map2.png" width="16"/>
            &nbsp;Contact/Cost
          </a>
        </strong>
        <br/>
        T/Th/F:<br/>
        11AM-7PM<br/>
        By Appt. Only 407-718-5795
      </div>
      <div class="left">
        <img class="kresser-badge" alt="adapt badge" height="200" width="200" src="assets/img/ADAPT-Level-One-Trained-Badge-250x250.jpg">
        <br/>
        <br/>

        <div class="sideblock">
          <img alt="Susan's Top Picks" src="assets/img/susanspicks.png" style="margin-bottom: 5px" title="Susan's Top Picks"/>
        </div>
        <a href="http://www.evidencebasedacupuncture.org/" target="_blank">
          Evidence Based Acupuncture<br><br>
        </a>
        <a href="http://www.acupuncturetoday.com" target="_blank">
          <img alt="http://www.acupuncturetoday.com" border="0" height="84" src="http://www.acupuncturetoday.com/images/site/at/atlogo_linktous.gif" width="126">
        </a>

        <div class="clear"></div>
        <div class="footer">
          <!--TODO: FIXUP this center tag nonsense-->
          <!--<center>-->
          <strong style="color:#5e4028">acupuncturedoc@hotmail.com
            <br> 2221 Lee Rd. Suite 14 <br>Winter Park, Fl 32789<br/>
            Phone: 407-718-5795<br> Fax: 321-296-1927
          </strong>
          <!--</center>-->
        </div>

        <div id="bottombar"></div>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
        </script>
        <script type="text/javascript">
					_uacct = "UA-2967092-1";
					urchinTracker();
        </script>
      </div>
    </div>
  </div>
</div>
